.mmob2p-principal{
    font-size: 15px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/mmob2p-img/Black-Desert-Online-Remastered-Main-Art.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mmob2p-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;

}

.mmob2p-principal .container{
    width: 70%;
}